@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #8a62a4;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.counter {
  font-size: 50px;
  margin-bottom: 0;
}

.container p {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .container {
    margin: 1rem;
  }
}
